body{
    margin: 0;
    width: 100vw;
    background-color: rgba(197, 218, 5, 0.055);
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgba(72, 77, 28, 0.582);
}
.gallery{
    margin: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.gallery img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform filter 0.3s ease;
    border-radius: 15px;
}
.gallery img:hover{
    transform: scale(1.05);
    filter: grayscale(40%) brightness(85%) contrast(90%);
}
#popup{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    inset: 0;
}
#popup img{
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
}
#prev, #next{
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding: 20px;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#prev {
    left: 10px;
}

#next {
    right: 10px;
}