body {
    background-color: rgba(252, 235, 241, 0.973);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgba(252, 235, 241, 0.973);
    padding: 1.5rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0  .5rem 1rem rgba(0, 0, 0, 0.767);
}

header .logo{
    font-size: 2rem;
    color: palevioletred;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

header .navbar a{
     font-size: 1.5rem;
     padding: 0 1.5rem ;
     color: palevioletred;
     text-decoration: none;

}

header .navbar a:hover{
    color: pink;
}

header .icons a{
    font-size: 1.5rem;
    color: palevioletred;
    margin-left: 2rem;
    text-decoration: none;
}
header .icons a:hover{
    color: pink;
}
.box-container{
  display: flex;
  flex-wrap: wrap;        
  gap: 10px;             
  justify-content: center; 
  padding: 20px;
  margin-top: 20px
}
.box {
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(204, 106, 183, 0.996);
    width: 200px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3 ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.box :hover img {
    transform: scale(1.1);
}
.box .icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.4s ease;
  opacity: 0;
}
.box:hover {
  transform: translateY(-8px);
   box-shadow: 0 8px 20px rgba(204, 106, 183, 0.4);
}
.box:hover .icons {
  bottom: 10px;
  opacity: 1;
}

.box .icons a {
  color: pink;
  font-size: 1.8rem;
  transition: transform 0.3s ease , color 0.3 ease;
}

.box .icons a:hover {
  color: #ffb6c1;
  transform: scale(1.2);
}
  
.box .content h3 {
  font-family: 'Times New Roman', Times, serif;
}
